@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.ttf') format('woff2'),
        url('../fonts/FuturaPT-Bold.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Book.ttf') format('woff2'),
        url('../fonts/FuturaPT-Book.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-ExtraBold.ttf') format('woff2'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.ttf') format('woff2'),
        url('../fonts/FuturaPT-Medium.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.ttf') format('woff2'),
        url('../fonts/FuturaPT-Heavy.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Demi.ttf') format('woff2'),
        url('../fonts/FuturaPT-Demi.ttf') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}